/* ==========================================================================
   Global: Cards
   ========================================================================== */

.card {
  display: flex;
  position: relative;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: left;
  flex: 1;
  min-width: 0;

  /* Animation */
  animation: reveal 0.8s ease 0s 1;
}

.card__contents {
  @extend %card-skin;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: $global-spacing;
  overflow: hidden;
  flex: 1 1 100%;
  // min-height: 10rem;

  /* Animation */
  transition: all 0.16s ease 0s;

  .card--active & {
    box-shadow: 0 4px 16px 2px rgba($primary-color, 0.32);
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

a.card__contents {
  color: inherit;

  &:hover {
    opacity: 1;
    background-color: rgba($base-color, 0.02);
  }
}


/* Media
   ========================================================================== */

.card__media {
  position: relative;
  margin: $global-spacing (- $global-spacing / 2);

  .link-wrapper {
    display: block;
  }

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.32s ease 0s;
  }

  &:first-child {
    margin-top: (- $global-spacing / 2);
  }

  &:last-child {
    margin-bottom: (- $global-spacing / 2) !important;
  }
}

.card__cover {
  position: relative;
  background: tint($base-color, 96%);
  min-height: 4rem;
  overflow: hidden;
  margin: 0;

  &,
  &::before {
    border-radius: $base-border-radius / 2;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    content: "";
    box-shadow: inset 0 0 0 $base-border-width $base-alpha-color;
    pointer-events: none;
  }
}


/* Header
   ========================================================================== */

.card__header {
  display: flex;
  margin-bottom: $global-spacing;
  align-items: flex-start;

  > *:not(:first-child) {
    margin-left: $global-spacing;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .link-wrapper {
    color: inherit;
  }
}

.card__headline {
  > *:last-child {
    margin-bottom: 0;
  }
}

.card__title {
  @include heading(1.25rem);
  margin: 0;

  a {
    color: inherit;
  }
}

.card__subtitle {
  @extend .heading-alt;
  position: relative;
  color: rgba($base-font-color, 0.64);
  font-size: 0.875rem;
  line-height: 1rem;
  margin: ($global-spacing / 4) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


/* Body
   ========================================================================== */

.card__body {
  flex: 1;
  width: 100%;
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__prose {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-color, 36%);

  > *:last-child {
    margin-bottom: 0;
  }
}


/* Footer
   ========================================================================== */

.card__footer {
  > *:last-child {
    margin-bottom: 0;
  }
}


/*  Header toolbar
   ========================================================================== */

.card__header-toolbar {
  @extend .toolbar, .toolbar--small;
  justify-content: flex-end;
  flex: 1 1 auto;
}
