/* ==========================================================================
   Global: inpage
   ========================================================================== */

.inpage {
  min-height: 100vh;
}


/* Header
   ========================================================================== */

.inpage__header {
  @extend %pane-skin;
  padding: $global-spacing ($global-spacing * 4);

  > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__subheader {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: $global-spacing * 2;

  > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__headline {
  min-width: 0;

  > *:last-child {
    margin-bottom: 0;
  }
}

.inpage__title {
  @include heading(1.25rem);
  margin-bottom: 0;
}

.inpage__sectitle {
  @include heading(1.25rem);
  margin-bottom: 0;
}

.inpage__subtitle {
  @extend .heading-alt;
  font-size: 0.875rem;
  line-height: 1rem;
  opacity: 0.64;
  margin: 0;
}

.inpage__hactions {
  margin-left: auto;
  padding: ($global-spacing / 8) 0 ($global-spacing / 8) $global-spacing;

  > * {
    vertical-align: top;
  }
}


/* Body
   ========================================================================== */

.inpage__body {
  padding: $global-spacing * 4;

  > .prose {
    max-width: 48rem;
  }
}


/* Modifiers
   ========================================================================== */

.inpage--horizontal {
  display: grid;
  grid-template-columns: ($global-spacing * 20) auto;

  .inpage__header {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: scroll;
  }
}
