/* ==========================================================================
   Global: lists
   ========================================================================== */

/* Legend list
   ========================================================================== */

.legend-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 ($global-spacing / 2);
  padding: 0;
  margin: 0;

  dt,
  dd {
    margin: 0;
  }

  dt {
    grid-column: 1 / span 1;
    margin: 0;
    font-size: 0;
    display: flex;
    align-items: center;
  }

  dd {
    grid-column: 2 / span 11;
  }
}

.lgfx {
  &::before {
    content: '';
    min-width: $global-spacing * 2;
    height: $global-spacing / 2;
    border-radius: $full-border-radius;
    background: $base-color;
  }
}

.lgfx--alpha::before {
  background: $alpha-color;
}

.lgfx--beta::before {
  background: $beta-color;
}

.lgfx--gama::before {
  background: $gama-color;
}

.lgfx--delta::before {
  background: $delta-color;
}


/* Logo list
   ========================================================================== */

.logo-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 $global-spacing;
  list-style: none;
  padding: 0;
  margin: 0;

  dt {
    grid-column: 1 / span 12;

    &:not(:first-child) {
      margin-top: $global-spacing;
    }
  }

  dd {
    grid-column: auto / span 4;
  }

  a {
    display: block;
    text-align: center;
    border-radius: $base-border-radius;
    padding: ($global-spacing / 2) ($global-spacing * 1.5);
    width: 100%;
    height: 5rem;
    line-height: 4rem;
    box-shadow: inset 0 0 0 1px $base-alpha-color;
  }

  span {
    @extend .visually-hidden;
  }

  img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    max-height: 3rem;
    opacity: 0.8;
  }

  /* Compensate DevSeed logo proportions and alignment */
  .logo-devseed img {
    max-height: 2rem;
  }
}
