/* ==========================================================================
   Global: page
   ========================================================================== */

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Header
   ========================================================================== */

.page__header {
  @extend .antialiased;
  position: relative;
  width: 100%;
  z-index: 1000;
  padding: ($global-spacing * 2) 0;
  background: $primary-color;
  color: #fff;

  > .inner {
    @extend .row, .row--centered;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.page__headline {
  > *:last-child {
    margin-bottom: 0
  }
}

.page__title {
  font-size: 1.25rem;
  line-height: 1;
  text-transform: uppercase;

  a {
    display: block;
    color: inherit;

    &::before {
      content: attr(data-ast);
    }
  }

  span {
    @extend .visually-hidden;
  }
}

.page__prime-nav {
  display: flex;
  margin: 0 0 0 auto;
  color: inherit;
  padding-left: $global-spacing;
}

/* Global menu */

.global-menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding-left: $global-spacing;

  > *:not(:last-child) {
    margin-right: $global-spacing / 2;
  }
}

.global-menu__link {
  @extend .button, .button--achromic-plain, .button--text-hidden;

  &--active {
    @extend .button--active;
  }
}

.global-menu__link--home::before {
  @extend %collecticon-house;
}

.global-menu__link--explore::before {
  @extend %collecticon-compass;
}

.global-menu__link--docs::before {
  @extend %collecticon-book--bookmark;
}

.global-menu__link--about::before {
  @extend %collecticon-circle-information;
}


/* Body
   ========================================================================== */

.page__body {
  flex: 1;
  display: flex;
  flex-flow: column;
}


/* Footer
   ========================================================================== */

.page__footer {
  position: relative;
  z-index: 10;
  background: tint($base-color, 96%);
  padding: ($global-spacing * 2) 0;

  > .inner {
    @extend .row, .row--centered;

    > *:last-child {
      margin-bottom: 0
    }
  }
}
