/* ==========================================================================
   Global: page
   ========================================================================== */

.page {
  display: grid;
  grid-template-columns: ($global-spacing * 4) auto 0;
}


/* Header
   ========================================================================== */

.page__header {
  @extend .antialiased;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background: $primary-color;
  padding: $global-spacing;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;

  > .inner {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > *:last-child {
      margin-bottom: 0
    }
  }
}

.page__headline {
  margin-bottom: $global-spacing * 2;

  > *:last-child {
    margin-bottom: 0
  }
}

.page__title {
  font-size: 1.25rem;
  line-height: 1;
  text-transform: uppercase;
  width: 2.5rem;
  text-align: center;

  a {
    display: block;
    color: inherit;

    &::before {
      content: attr(data-ast);
    }
  }

  span {
    @extend .visually-hidden;
  }
}

.page__prime-nav {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}


/* Global menu */

.global-menu {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0;
  padding: 0;

  > * {
    margin: 0 0 ($global-spacing / 2);

    &:last-child {
      margin: auto 0 0 0;
    }
  }
}

.global-menu__link {
  @extend .button, .button--large, .button--achromic-plain, .button--text-hidden;

  &--active {
    @extend .button--active;
  }
}

.global-menu__link--home::before {
  @extend %collecticon-house;
}

.global-menu__link--explore::before {
  @extend %collecticon-compass;
}

.global-menu__link--docs::before {
  @extend %collecticon-book--bookmark;
}

.global-menu__link--about::before {
  @extend %collecticon-circle-information;
}

.global-menu__link--share::before {
  @extend %collecticon-share;
}


/* Body
   ========================================================================== */

.page__body {
}


/* Footer
   ========================================================================== */

.page__footer {
  background: tint($base-color, 96%);
  padding: ($global-spacing * 2) 0;

  > .inner {
    > *:last-child {
      margin-bottom: 0
    }
  }
}
