/* ==========================================================================
   Explore: hub
   ========================================================================== */

.inpage--explore.inpage--hub {
  .inpage__title {
    @extend .visually-hidden;
  }
}


/* Country list
   ========================================================================== */

.card--country {
  .card__contents {
    flex-flow: row nowrap;
    align-items: center;
  }

  .card__media {
    margin-right: 0;

    img {
      width: 4rem;
      height: 3rem;
    }
  }

  .card__thumb {
    min-width: 4rem;
  }

  .card__title {
    @include heading(1rem);
  }
}
