/* ==========================================================================
   Explore: single
   ========================================================================== */

.inpage--explore.inpage--single {
  .inpage__header {
    overflow: hidden; /* Fixed for ShadowScrollbar */
  }

  .inpage__subheader {
    box-shadow: none;
  }

  .inpage__title,
  .inpage__subtitle {
    @extend .truncated;
    max-width: 100%;
  }

  .inpage__body {
    display: grid;
    grid-template-columns: auto 16rem;
    padding: 0;

    @include media(large-up) {
      min-height: 100vh;
    }
  }
}


/* Controls
   ========================================================================== */

.econtrols {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden; /* Fixed for ShadowScrollbar */

  .nav {
    margin: 0;
    position: relative;
    z-index: 80;
  }

  .nav__tablist {
    padding: 0 $contained-spacing;
  }
}

.econtrols__section {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden; /* Fixed for ShadowScrollbar */

  /* Animation */
  animation: reveal 0.32s ease 0s 1;
}

.econtrols__title {
  @extend .visually-hidden;
}

.econtrols__block {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  overflow: hidden; /* Fixed for ShadowScrollbar */
}

.econtrols__subblock {
  position: relative;
  z-index: 60;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  overflow: hidden; /* Fixed for ShadowScrollbar */

  height: 300px;
}

.econtrols__item {
  padding: $global-spacing $contained-spacing;
  box-shadow: inset 0 -1px 0 0 $base-alpha-color;
  margin: 0;

  &:last-child {
    box-shadow: none;
  }

  .form__label,
  .form__option__text,
  .form__output {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .form__option__ui {
    margin: 0;
  }

  .form__option--switch {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 0;

    .form__option__text {
      order: -1;
      font-weight: $base-font-bold;
      padding-right: $global-spacing;
      margin: 0;
    }

    .form__option__ui {
      margin: 0.25rem 0 0.25rem auto;
    }
  }

  .input-range {
    margin: (-$global-spacing * 1.25) 0 0 0;
  }

  .input-range__label--value {
    @extend .visually-hidden;
  }
}

.econtrols__actions {
  position: relative;
  z-index: 80;
  padding: $global-spacing $contained-spacing;
  box-shadow: 0 -1px 0 0 $base-alpha-color;
  text-align: center;
}

.econtrols__submit {
  @extend .button, .button--primary-raised-dark;
  vertical-align: top;
  min-width: 10rem;

  &::before {
    @extend %collecticon-sm-tick;
  }
}


/* Map
   ========================================================================== */

.exp-map {
  position: relative;
  z-index: 10;
  background: tint($base-color, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Fixed for ShadowScrollbar */

  /* Animation */
  animation: reveal 0.64s ease 0s 1;
}

.exp-map__title {
  @extend .visually-hidden;
}

.map-number-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  > * {
    grid-column: auto / span 12;
    margin: 0;
  }

  dt {
    font-size: 0.75rem;
    margin-bottom: $global-spacing;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  dd {
    font-size: 1rem;
    font-weight: $base-font-bold;

    @for $child from 1 through 6 {
      &:nth-of-type(#{$child}) {
        grid-row: 2 * $child - 1;
      }
    }
  }

  small {
    font-size: inherit;
  }
}


/* Summary
   ========================================================================== */

.exp-summary {
  @extend %pane-skin;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;

  /* Animation */
  animation: reveal 0.96s ease 0s 1;
}

.exp-summary__header {
  position: relative;
  z-index: 80;
  display: flex;
  flex-flow: row nowrap;
  padding: $global-spacing $contained-spacing;
  box-shadow: 0 1px 0 0 $base-alpha-color;

  > *:last-child {
    margin-bottom: 0;
  }
}

.exp-summary__title {
  @include heading(1rem);
  margin-bottom: 0;
}

.exp-summary__body {
  position: relative;
  z-index: 60;
  flex: 1;
  overflow: hidden; /* Fixed for ShadowScrollbar */
}

.exp-summary__footer {
  position: relative;
  z-index: 80;
  padding: $global-spacing $contained-spacing;
  box-shadow: 0 -1px 0 0 $base-alpha-color;
  text-align: center;
}

.exp-download-button {
  @extend .button, .button--primary-raised-dark;
  min-width: 10rem;
  vertical-align: top;

  &::before {
    @extend %collecticon-download-2;
  }
}

.sum-block {
  padding: $global-spacing $contained-spacing;
  box-shadow: 0 1px 0 0 $base-alpha-color;

  &:last-child {
    box-shadow: none;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.sum-block--charts {
  padding: ($global-spacing * 2) $contained-spacing;
}

.sum-block__title {
  @extend .visually-hidden;
}

.sum-number-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  > * {
    grid-column: auto / span 12;
    margin: 0;
  }

  dt {
    font-size: 0.75rem;
    margin-bottom: $global-spacing;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  dd {
    font-size: 1.25rem;
    font-weight: $base-font-bold;

    @for $child from 1 through 6 {
      &:nth-of-type(#{$child}) {
        grid-row: 2 * $child - 1;
      }
    }
  }

  small {
    font-size: inherit;
  }
}

.sum-chart-media {
  text-align: center;
  margin-bottom: $global-spacing * 1.5;
}

.sum-chart-media__item {
  margin-bottom: $global-spacing / 2;

  svg {
    vertical-align: top;
  }

  text {
    font-size: 1.25rem;
    font-weight: $base-font-bold;
    fill: $base-color;
    opacity: 0.8;
  }
}

.sum-chart-media__caption {
  @extend .heading-alt;
  color: rgba($base-font-color, 0.64);
  font-size: 0.75rem;
  line-height: 1rem;
}
