/* ==========================================================================
   Documentation: global
   ========================================================================== */

.index-menu {
  dt:not(:first-child) {
    margin-top: $global-spacing;
  }
}

.index-menu__link {
  @extend .button, .button--primary-plain, .button--block;
  font-size: 0.875rem;
  text-align: left;
  text-transform: none;

  &--active {
    @extend .button--active;
  }
}
