/* ==========================================================================
   Home: global
   ========================================================================== */

.inpage--home {
  @extend .antialiased;
  position: relative;
  background-image: linear-gradient(to bottom, shade($primary-color, 20%) 0%, shade($primary-color, 20%) 37.5%, shade($primary-color, 36%) 37.5%);
  color: #fff;

  .inpage__header {
    @extend .visually-hidden;
  }

  .inpage__body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
}

.home-intro {
  z-index: 2;
}

.home-intro__title {
  @include heading(3.5rem);

  span {
    display: block;
    font-size: 1.25rem;
    line-height: 1rem;
    text-transform: uppercase;
    margin-bottom: $global-spacing / 2;
  }
}

.home-intro__lead {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: $global-spacing * 2;

  > *:last-child {
    margin-bottom: 0;
  }
}

.stats-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  font-weight: $base-font-medium;
  margin-bottom: $global-spacing * 2.5;

  * {
    font-weight: inherit;
    line-height: 1;
    margin: 0;
  }

  dt {
    color: inherit;
    font-size: 1.25rem;
    margin-right: $global-spacing * 2;
    padding: 0 0 ($global-spacing / 2) 0;

    &:nth-of-type(1) {
      order: 2;
    }

    &:nth-of-type(2) {
      order: 4;
    }
  }

  dd {
    color: $secondary-color;
    font-size: 4rem;
    line-height: 1;
    margin-right: $global-spacing;

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }
  }
}

.cta-wrapper {
  small {
    @extend .visually-hidden;
  }
}

.ctab {
  @extend .button, .button--xlarge;
  margin-right: $global-spacing;
  min-width: 12rem;
}

.ctab--explore {
  @extend .button--primary-raised-dark;
}

.ctab--about {
  @extend .button--primary-raised-light;
}


/* Illustration
   ========================================================================== */

.home-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  overflow: hidden;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    * {
      transform-box: fill-box;
    }
  }

  figcaption {
    @extend .visually-hidden;
  }
}

.home-media__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Animation */
  animation: illu-in 1.5s ease-in-out 0s 1;
}

#trbn1-bld1 {
  animation: turbine 10s infinite linear;
  transform-origin: 36% 50%;
}

#trbn2-bld1 {
  animation: turbine 16s infinite linear;
  transform-origin: 50.05% 65%;
}

#bldg2-w18 {
  animation: light-toggle 8s infinite ease-in-out;
}

#bldg3-w4 {
  animation: light-flicker 12s infinite step-end;
}

#bldg3-w2 {
  animation: light-toggle 16s infinite ease-in-out;
}

#bldg4-w6 {
  animation: light-toggle 12s infinite ease-in-out;
}

#cld1 {
  animation: cloud-travel 16s infinite linear;
}

#cld2 {
  animation: cloud-travel 25s infinite linear;
}

#cld3 {
  animation: cloud-travel 27s infinite linear;
}

// #smoke1 {
//   animation: smoke-puff1 2s linear 0s infinite;
// }
//
// #smoke2 {
//   animation: smoke-puff1 4s linear 0s infinite;
// }
//
// #smoke3 {
//   animation: smoke-puff1 10s infinite;
// }

@keyframes turbine {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes light-flicker {
  0%    { fill: $secondary-color; }
  3%    { fill: shade($primary-color, 36%); }
  6%    { fill: $secondary-color; }
  7%    { fill: shade($primary-color, 36%); }
  8%    { fill: $secondary-color; }
  9%    { fill: shade($primary-color, 36%); }
  10%   { fill: $secondary-color; }
  100%  { fill: $secondary-color; }
}

@keyframes light-toggle {
  0%    { fill: shade($primary-color, 36%); }
  50%   { fill: shade($primary-color, 36%); }
  52%   { fill: $secondary-color; }
  98%   { fill: $secondary-color }
  100%  { fill: shade($primary-color, 36%); }
}

@keyframes illu-in {
  from {
    opacity: 0;
    transform: translate(4%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes cloud-travel {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  94% {
    opacity: 1;
  }

  100% {
    transform: translate(-8rem, 0);
    opacity: 0;
  }
}

@keyframes smoke-puff1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
