/* ==========================================================================
   Home: global
   ========================================================================== */

.inpage--home {
  @extend .antialiased;
  position: relative;
  background: shade($primary-color, 36%);
  color: #fff;

  @include media(large-up) {
    background: linear-gradient(to bottom, shade($primary-color, 20%) 0%, shade($primary-color, 20%) 37.5%, shade($primary-color, 36%) 37.5%);
  }

  .inpage__header {
    height: 0;
  }

  .inpage__body {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    @include media(large-up) {
      min-height: 100vh;
    }
  }
}

.home-intro {
  z-index: 2;
}

.home-intro__title {
  @include heading(2rem);

  @include media(large-up) {
    @include heading(3.5rem);
  }

  span {
    display: block;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: $global-spacing / 4;

    @include media(large-up) {
      font-size: 1.25rem;
      margin-bottom: $global-spacing / 2;
    }
  }
}

.home-intro__lead {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: $global-spacing * 2;

  @include media(large-up) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.stats-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  font-weight: $base-font-medium;
  margin-bottom: $global-spacing * 2.5;

  * {
    font-weight: inherit;
    line-height: 1;
    margin: 0;
  }

  dt {
    color: inherit;
    font-size: 1rem;
    margin-right: $global-spacing * 2;
    padding: 0 0 ($global-spacing / 8) 0;

    @include media(large-up) {
      font-size: 1.25rem;
      padding: 0 0 ($global-spacing / 2) 0;
    }

    &:nth-of-type(1) {
      order: 2;
    }

    &:nth-of-type(2) {
      order: 4;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  dd {
    color: $secondary-color;
    font-size: 2rem;
    line-height: 1;
    margin-right: $global-spacing / 2;

    @include media(large-up) {
      font-size: 4rem;
      margin-right: $global-spacing;
    }

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }
  }
}

.cta-wrapper {
  display: flex;
  small {
    @extend .visually-hidden;
  }
}

.ctab {
  @extend .button;
  margin-right: $global-spacing / 2;
  flex: 1;

  @include media(small-up) {
    flex: 0;
    min-width: 12rem;
  }

  @include media(large-up) {
    min-width: 12rem;
    line-height: 2rem;
    font-size: 0.875rem;
    padding: 0.5rem 2rem;
    margin-right: $global-spacing;
  }
}

.ctab--explore {
  @extend .button--primary-raised-dark;
}

.ctab--about {
  @extend .button--primary-raised-light;
}


/* Illustration
   ========================================================================== */

.home-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  overflow: hidden;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    * {
      transform-box: fill-box;
    }
  }

  figcaption {
    @extend .visually-hidden;
  }
}

.home-media__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Animation */
  animation: illu-in 1.5s ease-in-out 0s 1;
}

#trbn1-bld1 {
  animation: turbine 10s infinite linear;
  transform-origin: 36% 50%;
}

#trbn2-bld1 {
  animation: turbine 16s infinite linear;
  transform-origin: 50.05% 65%;
}

#bldg2-w18 {
  animation: light-toggle 8s infinite ease-in-out;
}

#bldg3-w4 {
  animation: light-flicker 12s infinite step-end;
}

#bldg3-w2 {
  animation: light-toggle 16s infinite ease-in-out;
}

#bldg4-w6 {
  animation: light-toggle 12s infinite ease-in-out;
}

#cld1 {
  animation: cloud-travel 16s infinite linear;
}

#cld2 {
  animation: cloud-travel 25s infinite linear;
}

#cld3 {
  animation: cloud-travel 27s infinite linear;
}

#smoke > * {
  opacity: 0;
}

#smoke1 {
  animation: smoke-puff1 7s linear 0s infinite;
}

#smoke2 {
  animation: smoke-puff2 7s linear 0s infinite;
}

#smoke3 {
  animation: smoke-puff3 7s linear 0s infinite;
}

@keyframes turbine {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes light-flicker {
  0%    { fill: $secondary-color; }
  3%    { fill: shade($primary-color, 36%); }
  6%    { fill: $secondary-color; }
  7%    { fill: shade($primary-color, 36%); }
  8%    { fill: $secondary-color; }
  9%    { fill: shade($primary-color, 36%); }
  10%   { fill: $secondary-color; }
  100%  { fill: $secondary-color; }
}

@keyframes light-toggle {
  0%    { fill: shade($primary-color, 36%); }
  50%   { fill: shade($primary-color, 36%); }
  52%   { fill: $secondary-color; }
  98%   { fill: $secondary-color }
  100%  { fill: shade($primary-color, 36%); }
}

@keyframes illu-in {
  from {
    opacity: 0;
    transform: translate(4%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes cloud-travel {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  6% {
    opacity: 1;
  }

  94% {
    opacity: 1;
  }

  100% {
    transform: translate(-8rem, 0);
    opacity: 0;
  }
}

@keyframes smoke-puff1 {
  // 0% {
  //   opacity: 0;
  // }

  // 14% {
  //   opacity: 0;
  // }

  28% {
    opacity: 0;
  }

  43% {
    opacity: 1;
  }

  // 57% {
  //   opacity: 1;
  // }

  // 71% {
  //   opacity: 1;
  // }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes smoke-puff2 {
  // 0% {
  //   opacity: 0;
  // }

  14% {
    opacity: 0;
  }

  28% {
    opacity: 1;
  }

  // 43% {
  //   opacity: 1;
  // }

  // 57% {
  //   opacity: 1;
  // }

  71% {
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  // 100% {
  //   opacity: 0;
  // }
}

@keyframes smoke-puff3 {
  0% {
    opacity: 0;
  }

  14% {
    opacity: 1;
  }

  // 28% {
  //   opacity: 1;
  // }

  // 43% {
  //   opacity: 1;
  // }

  57% {
    opacity: 1;
  }

  71% {
    opacity: 0;
  }

  // 85% {
  //   opacity: 0;
  // }

  // 100% {
  //   opacity: 0;
  // }
}
